<ion-content>
  <ion-list>
    <ion-item *ngFor="let user of users">
      <ion-label (click)="choosePerson(user._fields[0].identity)">
        <h3>Nome Completo: {{ user._fields[0].properties.name }}</h3>
        <h3>Data de Nascimento: {{ user._fields[0].properties.dateOfBirth | date: 'dd/MM/yyyy' }}</h3>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-list lines="full" *ngIf="loading === true">
    <ion-item *ngFor="let i of fakeArrDataLoad(15)">
      <ion-label>
        <h2>
          <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
        </h2>
        <h3>
          <ion-skeleton-text animated style="width: 35%"></ion-skeleton-text>
        </h3>
        <h3>
          <ion-skeleton-text animated style="width: 40%"></ion-skeleton-text>
        </h3>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>