<ion-grid style="display: flex;">
  <ion-row justify-content-center>
    <ion-col align-self-center>
      <form #f="ngForm" (ngSubmit)="save()">
        <div padding>
          <ion-item>
            <ion-label position="floating">Nome Completo</ion-label>
            <ion-input type="text" name="user" [(ngModel)]="user.name" required></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating" *ngIf="user.dateOfBirth">Data de Nascimento</ion-label>
            <ion-input type="date" name="dateOfBirth" [(ngModel)]="user.dateOfBirth" required (keyup.enter)="save()">
            </ion-input>
          </ion-item>
        </div>
        <div padding>
          <ion-button *ngIf="btnEnabled" class="btn-login" color="tertiary" expand="block" [disabled]="!f.valid"
            type="submit">
            Salvar
          </ion-button>
          <ion-button *ngIf="!btnEnabled" class="btn-login" color="tertiary" expand="block">
            <ion-spinner name="crescent"></ion-spinner>
          </ion-button>
        </div>
      </form>
    </ion-col>
  </ion-row>
</ion-grid>